/*************************TAG SELECTORS***************************/
/*These selectors aren't used as commonly as you think.*/

h1 {
  color: red;
  font-size: 200px;
}

img:hover {
  background-color: gold;
}

/*************************CLASS SELECTORS***************************/
/*Classes may not be unique.*/
/*These selectors are used the most frequently.*/

.bacon {
  background-color: green;
}

.broccoli {
  background-color: red;
}

.circular {
  border-radius: 100%
}

/*************************ID SELECTORS***************************/
/*IDs must be unique!!! These are used very sparingly in code.*/

#heading {
  color: blue;
}
