body {
  color: #40514E;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #B33030;
  font-family: 'Sacramento', cursive;
  font-size: 562.5%;
  line-height: 2;
  margin: 50px auto 0 auto;
}

h2 {
  color: #B33030;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #B33030;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #B33030;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #D3ECA7;
}

p {
  line-height: 2;
}

hr {
  border: dotted #B33030 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 4%;
}

.intro {
  margin: auto;
  width: 30%;
}

.contact-message {
  margin: 40px auto 60px;
  width: 40%;
}

.copyright {
  color: #D3ECA7;
  font-size: 0.75rem;
  padding: 20px 0;
}

.skill-row {
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.vinh-image {
  border-radius: 50%;
  width: 50%;
}

.python-image {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.ddr-image {
  float: right;
  margin-left: 30px;
  width: 25%;
}

.top-container {
  background-color: #D3ECA7;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #A1B57D;
  padding: 50px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  bottom: 300px;
  left: 250px;
  position: absolute;
}

.btn {
  background: #A1B57D;
  background-image: -webkit-linear-gradient(top, #A1B57D, #D3ECA7);
  background-image: -moz-linear-gradient(top, #A1B57D, #D3ECA7);
  background-image: -ms-linear-gradient(top, #A1B57D, #D3ECA7);
  background-image: -o-linear-gradient(top, #A1B57D, #D3ECA7);
  background-image: linear-gradient(to bottom, #A1B57D, #D3ECA7);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #19282F 2px;
  text-decoration: none;
}

.btn:hover {
  background: #D3ECA7;
  background-image: -webkit-linear-gradient(top, #D3ECA7, #A1B57D);
  background-image: -moz-linear-gradient(top, #D3ECA7, #A1B57D);
  background-image: -ms-linear-gradient(top, #D3ECA7, #A1B57D);
  background-image: -o-linear-gradient(top, #D3ECA7, #A1B57D);
  background-image: linear-gradient(to bottom, #D3ECA7, #A1B57D);
  text-decoration: none;
}
